<table class="instructor-table responsive no-wrap">
	<thead>
		<tr>
			<th></th>
			<th>Instructor</th>
			<th>Expertise</th>
			<th>Phone no.</th>
			<th>Address</th>
			<th>Proximity</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @instructors.each do |instructor| %>
			<tr>
				<td><%= image_tag instructor.avatar.url(:thumb), :class => "index-pic" %></td>
				<td><%= instructor.first_name %> <%= instructor.last_name %></td>
				<td><%= instructor.expertise %></td>
				<td><%= instructor.phone %></td>
				<td><%= instructor.street_address + ", " + instructor.city %></td>
				<td><%= instructor.distance_to(@my_location).round(1) %>km</td>
				<td><%= button_to "Details", instructor_path(instructor), method: :get %></td>
				<td><%= button_to "Edit", edit_instructor_path(instructor), method: :get, :style => "background-color:red" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
