<h1>Instructors show page</h1>
<%= image_tag @instructor.avatar.url(:medium) %>
<p>Name: <%= @instructor.first_name %> <%= @instructor.last_name %></p>
<p>Phone no.: <%= @instructor.phone %></p>
<p>Street address: <%= @instructor.street_address %></p>
<p>City: <%= @instructor.city %></p>
<p>Postal code: <%= @instructor.postal_code %></p>
<p>Expertise: <%= @instructor.expertise %></p>

<%= hidden_field_tag :instructor_id, @instructor.id %>

<div style='width: 400px;' class='instructor_map'>
	<div id="map" style='width: 400px; height: 400px;'></div>
</div>

<%= link_to "back to index", instructors_path %>

<%= button_to "Book a session", new_instructor_appointment_path(@instructor), method: 'get' %>

<script>

</script>