<h1>Schedule a session with <%= @instructor.first_name %></h1>

<!-- Instructor info box -->
<%= image_tag @instructor.avatar.url(:medium) %>
<%= @instructor.first_name + " " + @instructor.last_name %>
<%= @instructor.phone %>
<%= @instructor.street_address %>
<%= @instructor.city %>

<%= form_for [@instructor, @appointment] do |f| %>
	<%= f.label :session_start, "Choose session start time" %>
	<%= f.datetime_select :session_start, :ampm => true, :minute_step => 30 %>
	<%= f.submit "Proceed to payment" %>
<% end %>

<%= link_to "Back", instructor_path(@instructor) %>