
<div class="login">
	<h1>Login</h1><br>

	<%= render 'form' %>

	<%= link_to 'cancel', root_path %><br><br>

	<h1>Forgot Password?</h1><br>	
	<%= form_tag password_resets_path, :method => :post do %>
	  <div class="field">
	    <%= label_tag :email %>
	    <%= text_field_tag :email %> <%= submit_tag "Reset my password!" %>
	  </div>
	<% end %>
</div>